/* src/components/TopBanner.module.css */
.topBanner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: palevioletred; /* Blue background */
    color: white;
    padding: 0.5rem;
    font-size: 1rem;
    position: sticky;
    top: 0;
    z-index: 15;
  }
  
  .marqueeContainer {
    flex-grow: 1; /* Allows the marquee to take space */
    overflow: hidden; /* Hides overflow */
  }
  
  /* Close button */
  .closeButton {
    background: none;
    border: none;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
    position: absolute;
    right: 1rem;
  }
  
  .closeButton:hover {
    color: #ffcccb; /* Light red on hover */
  }
  